<% if logged_in? %>
    <% if current_user.admin? && !current_user?(users_path) %>
        <%= form_for(@period) do |f| %>
            <% if @period.errors.any? %>
                <div class="alert alert-danger fade in">
                  <a href="#" class="close" data-dismiss="alert">&times;</a>
                  <p><%= @period.errors.count.to_s +  ' Fehler' %>
                    <% if @period.errors.count < 2 %>
                        verhindert
                    <% elsif @period.errors.count > 1 %>
                        verhindern
                    <% end %>
                    das Speichern der Perioden.
                  </p>
                  <ul>
                    <% @period.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>

            <div class="field">
              <%= f.label :name, 'Anzahl der Perioden' %><br>
              <%= f.text_field :name, type:"number", min:0, required:"required" %>
            </div>
            <div class="field">
              <%= f.label 'Datum anlegen' %><br>
              <%= f.date_select :time, {order: [:day, :month, :year], prompt: { day: 'Tag', month: 'Monat', year: 'Jahr'}}, {required: true} %>
            </div>
            <div class="actions">
              <%= f.submit 'Periode aktualisieren', class: "btn btn-primary"  %>
            </div>
        <% end %>
    <% end %>
<% end %>