<% if logged_in? %>
    <% if current_user.admin? && !current_user?(users_path) %>
        <%= form_for(@job) do |f| %>
            <% if @job.errors.any? %>
                <div class="alert alert-danger fade in">
                  <a href="#" class="close" data-dismiss="alert">&times;</a>
                  <p><%= @job.errors.count.to_s +  ' Fehler' %>
                    <% if @job.errors.count < 2 %>
                        verhindert
                    <% elsif @job.errors.count > 1 %>
                        verhindern
                    <% end %>
                    das Speichern des Vorgangs.
                  </p>

                  <ul>
                    <% @job.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>

            <div class="field">
              <%= f.label 'Event auswählen' %><br>
              <%= f.collection_select :event_id, Event.all, :id, :name,  {required: true}%>
            </div>
            <div class="field">
              <%= f.label 'Vorgang' %><br>
              <%= f.text_field :name, type: "text", required:"required" %>
            </div>
            <div class="field">
              <%= f.label :jobtext, 'Beschreibung des Vorgangs' %><br>
              <%= f.text_area :jobtext, type: "text", required:"required" %>
            </div>
            <div class="field">
              <%= f.label :processing_time, 'Dauer des Vorgangs' %><br>
              <%= f.text_field :processing_time, type: "number", min:0, required: "required" %>
            </div>
            <div class="field">
              <%= f.label :ressource_demand, 'Ressourcenbedarf des Vorgangs' %><br>
              <%= f.number_field :ressource_demand, type: "number", min:0, required: "required" %>
            </div>
            <div class="actions">
              <%= f.submit 'Neuen Vorgang anlegen oder aktualisieren', {:class => "btn btn-primary"} %>
            </div>
        <% end %>
    <% end %>
<% end %>
