<% provide(:title, "Verwaltung") %>
<% if logged_in? %>
    <% if current_user.admin? && !current_user?(users_path) %>

        <h1>Übersicht der Events</h1>

        <div style="width: auto">
          <table id="events" class="table table-striped table-bordered">
            <thead>
            <tr>
              <th>Anlass</th>
              <th>Persönliche Wünsche</th>
              <th>Anzahl der Gäste</th>
              <th>Datum des Events</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <% @events.each do |event| %>
                <tr>
                  <td><%= event.name %></td>
                  <td><%= event.eventtext %></td>
                  <td><%= event.guest %></td>
                  <td><%= event.deadline %></td>
                  <td><%= link_to 'Anzeigen', event %></td>
                  <td><%= link_to 'Ändern', edit_event_path(event) %></td>
                  <td><%= link_to 'Entfernen', event, method: :delete, data: { confirm: 'Möchten Sie diesen Eintrag sicher entfernen?' } %></td>
                </tr>
            <% end %>
            </tbody>
          </table>
          <br>
          <%= button_to 'Neues Event anlegen', new_event_path, method: :get, :class => "btn btn-primary" %>
          <br><br>
          <%= link_to 'Zurück zur Eventplanung', tcpsp_path %>

    <% else %>

        <h1>Mein neues Event</h1>
        <p>Wir freuen uns, dass Sie sich dazu entschieden haben, Ihr nächstes Event von unserem EvenTraum-Team realisieren zu lassen.<br>
          Bitte teilen Sie uns nachfolgend Ihre genauen Vorstellungen und Anforderungen mit, damit wir einen Einblick in Ihren Traum gewinnen können.</p><br>
        <%= button_to "Event in Auftrag geben" , new_event_path, method: :get, :class => "btn btn-primary" %>

    <% end %>
<% end %>
</div>