<% if logged_in? %>
    <% if current_user.admin? && !current_user?(users_path) %>
        <%= form_for(@gams_path) do |f| %>
            <% if @gams_path.errors.any? %>
                <div class="alert alert-danger fade in">
                  <a href="#" class="close" data-dismiss="alert">&times;</a>
                  <p><%= @gams_path.errors.count.to_s +  ' Fehler' %>
                    <% if @gams_path.errors.count < 2 %>
                        verhindert
                    <% elsif @gams_path.errors.count > 1 %>
                        verhindern
                    <% end %>
                    das Speichern des GAMS-Pfads.
                  </p>
                  <ul>
                    <% @gams_path.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>

            <div class="field">
              <%= f.label :gams_path_url, 'GAMS-Pfad' %><br>
              <%= f.text_field :gams_path_url, :class => "form-control",
                               placeholder: "C:\\GAMS\\win64\\24.7\\gams", required:"required" %>
            </div>
            <div class="actions">
              <%= f.submit 'GAMS-Pfad aktualisieren', {:class => "btn btn-primary"} %>
            </div>
        <% end %>
    <% end %>
<% end %>